* {
    box-sizing: border-box;
}

:root {
    --color-hidden-text: hotpink;
    --color-shadow: hotpink;
    --color-grid: green;
}

body {
    margin: 0;
    padding: 0;
}

header.opening {

    height: 100vh;
    height: 100lvh;

    width: 100vw;
    width: 100lvw;

    display: grid;
    place-content: center;

    background-color: #222;
}

.opening-wrapper {

    position: relative;
    height: 66vh;
    height: 66lvh;

    width: 90vw;
    width: 90lvw;

    max-width: 800px;
}

header.opening p {

    margin: 0;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.opening-xray, .opening-forefront,
.opening-xray > div {

    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;

}

.threeD-main-text, .threeD-shadow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Rubik;
    -webkit-text-stroke: 2px var(--color-hidden-text);
    color: transparent;
    filter: drop-shadow(0 0 .35rem var(--color-hidden-text));
    font-size: 2.5rem;
    text-transform: uppercase;
} 
    /*
    text-shadow: 1px 1px var(--color-shadow), 
        2px 2px var(--color-shadow), 
        3px 3px var(--color-shadow), 
        4px 4px var(--color-shadow), 
        5px 5px var(--color-shadow), 
        6px 6px var(--color-shadow);
    */

.opening-xray {
    --x: 40%;
    --y: 50%;
    perspective: 600px;
    perspective-origin: var(--x) var(--y);
    --clip: circle(20% at var(--x) var(--y));
    -webkit-clip-path: var(--mask);
    clip-path: var(--clip);
    color: transparent;
}

.threeD-main-text p {
    opacity: .9;
    z-index: 1;
}

.opening-xray > div {
    transform-style: preserve-3d;
}

.opening-xray .threeD-main-text {
    transform: translateZ(-25px);
}

.opening-xray .threeD-shadow {
    transform: translateZ(-75px);
    opacity: .5;
}

.threeD-side-bottom  { transform-origin: bottom; transform: translateZ(-300px) rotateX(-90deg); }
.threeD-side-right   { transform-origin: right; transform: translateZ(-300px) rotateY(90deg); }
.threeD-side-left    { transform-origin: left; transform: translateZ(-300px) rotateY(-90deg); }
.threeD-side-top     { transform-origin: top; transform: translateZ(-300px) rotateX(90deg);  }
.threeD-side-back     { transform: translateZ(-300px); }

.threeD-sides {
    opacity: .25;
    border: 1px solid var(--color-grid);
    background-image:
    repeating-linear-gradient(to right, transparent 0px, transparent 19px, var(--color-grid) 19px, var(--color-grid) 20px),
    repeating-linear-gradient(to bottom, transparent 0px, transparent 19px, var(--color-grid) 19px, var(--color-grid) 20px);
}

.opening-forefront {

    font-family: 'Fira Code';
    color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;

}

.opening-forefront p {
    height: auto;
}